@import url("https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

header{
	width: 100%;
	height: 100vh;
	background: url(Assets/images/home-banner.jpg) no-repeat 50% 50%;
	background-size: cover;
}

nav{
	display: flex;
	align-items: center;
	width: 100%;
	flex-wrap: wrap;
}

nav ul{
	display: flex;
	flex:1 1 40rem;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}

li{
	font-size: 2rem;
}

a{
	color: #CDD3D6;
	text-decoration: none;
	font-size: 1.3rem;
}


#logo{
	flex:2 1 40rem;
	color: #CDD3D6;
	margin: 20px;
}

.text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 60px;
	padding: 10%;
	color: #fff;
	font-size: 1.8rem;
}

.text h4{
	color: #CDD3D6;
	font-size: 1.2rem;
}

.text h2{
	color: #fff;
	align-items: flex-end;
	text-align: left;
}

.social a{
	width: 20px;
    height: 20px;
    line-height: 20px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    text-align: center;
    border-radius: 3px;
    margin-right: 10px;
    color: #ffffff;
}

#container{
	display: flex;
	align-items: center;
    background-color: #EBF4FA;
    min-height: 720px;
}

#container-image{
	width: 40%;
	padding: 5%;
    margin-left: 50px;
}

#image{
	width: 110%;
    border: 8px solid #fff;
}

#texte{
	width: 50%;
	padding: 5%;
}

article h2{
    color: #3A3973;
    font-size: 2em;
}

article h3{
    color: #FE4F6C;
    font-size: 1.5em;
}

article p{
    color: #6F8BA4;
    font-size: 1.1em;
}

#button{
	background-color: #FE4F6C;
	border: 1px solid #FE4F6C;
	border-radius: 5px;
	padding: 15px 10px;
	font-size: medium;
	color: #fff;
	margin-top: 5%;
}

#button:hover{
	background-color: #3A3973;
    border: 1px solid #3A3973;
}

#but{
	background-color: #EBF4FA;
	border: 1px solid #FE4F6C;
	border-radius: 5px;
	padding: 15px 10px;
    font-size: medium;
	color: #FE4F6C;
    margin-top: 5%;
    border: 1.5px solid;
}

#but:hover{
	background-color: #FE4F6C;
    color: #fff;
}

#content{
    max-width: auto;
	display: grid;
	grid-template-columns: repeat(4, 4fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #3A3973;

}

.secteur{
    position: relative;
	display: flex;
	flex-direction: row;
	margin: 50px;
	padding: 0px;
	text-align: center;
	justify-content: space-between;
	align-items: center;
    background-color: #3A3973;
}

#container1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EBF4FA;
}

div h2{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #3A3973;
}

.texte{
	text-align: center;
}

.texte p{
    color: #6F8BA4;
}

.container{
    max-width: 1150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}